<a href="https://colab.research.google.com/github/0007anuragsharma/Python-logical/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1)
list1=[1,2,3,4,5]
list2=[6,2,4,5,8]
print(list1+list2)

[1, 2, 3, 4, 5, 6, 2, 4, 5, 8]

In [ ]:
#2)

list3=['anurag','bhumika','ajay','anikat']
list3.sort(key=len)
print(list3)

['ajay', 'anurag', 'anikat', 'bhumika']

In [ ]:
#3)
list1=[1,2,3,4,5]
list2=list1*2
print(list2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
#4)
list=[1,2,3,4,5,6,7]
list.append(77)
print(list)

[1, 2, 3, 4, 5, 6, 7, 77]

In [ ]:
#5)
list=[2,3,5,6,7,8,9]
list.remove(3)
print(list)

[2, 5, 6, 7, 8, 9]

In [ ]:
#6)
list=[2,3,4,5,6,7]
list.pop(1)

3

In [ ]:
#7)
list=[1,6,9,3,7,4,1,6,0,]
list.sort()
print(list)

[0, 1, 1, 3, 4, 6, 6, 7, 9]

In [ ]:
#8)
tuple=int(input('enter your your number'))
if tuple<=1 and tuple<=100:
  print('your number is in range')
else:
  print('your number is not in range')

enter your your number34
your number is not in range

In [ ]:
#9)
list=[1,2,3,4,5,6,7,8,9]
list.clear()
print(list)

[]

In [ ]:
#10)
tuple=(1,2,3,4,5,6)
tuple2=(11,22,33,44,55,66)
print(tuple+tuple2)

(1, 2, 3, 4, 5, 6, 11, 22, 33, 44, 55, 66)

In [ ]:
#11)
list=[1,2,3,4,5,6,7,8,9,10]
list.index(10)

9

In [ ]:
#12) This is a tuple with one element
tuple=('anurag')

In [ ]:
#13)To reverse the element use reverse operator
list=[1,2,3,4,5,6,7,8,9,9]
list.reverse()
print(list)

[9, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#14)

In [ ]:
#15)use count operator to find elements
list=[1,2,3,4,5,6,7,6,4,3,3,1,7,9]
list.count(3)

3

In [ ]:
#16)Slice of first three elements
#list=[1,2,3,4,5]
#list[:3]

In [ ]:
#17)Defference between the append and extend
"""append() adds its argument as a single element at the end of the list.
extend() iterates over its argument and adds each element to the list.
Use append() when you want to add a single item, and use extend() when you want to concatenate another iterable to your list."""


list=[1,2,3,4,5]
list.append(6)
print(list)


list1=[22,33,44,55,66]
list1.extend([2,98])
print(list1)

[1, 2, 3, 4, 5, 6]
[22, 33, 44, 55, 66, 2, 98]

In [ ]:
#18)List of tuples with two elements
tuple=(1,'anurag'),(2,'bhumika'),(3,'ajay')
print(tuple)

((1, 'anurag'), (2, 'bhumika'), (3, 'ajay'))

In [ ]:
#20)
list=['anurag']
list1=['ajay']
print(list+list1,end=' ')

['anurag', 'ajay']

In [ ]:
#if-Else conditions
#1)statment of if
if(codition);
  print("statement")
else:
  print("statement")

In [ ]:
#2)if-elif----to apply multipal condaion in singal code
num=int(input('enter your number'))
if (num>0):
  print('number is positive')
elif (num<0):
  print('number is negative')
else:
  print('number is zero')

enter your number12
number is positive

In [ ]:
#3)
#elif is use for multipale condition in single code

In [ ]:
#4)Check variable between 10 to 20 number
num=int(input('enter your number'))
if (num>=10 and num<=20):
  print('number is in range')
else:
  print('number is not in range')

enter your number20
number is in range

In [ ]:
#5)
#the code directly jump on the else part when if condation false than print else part

In [ ]:
#6)
num=int(input('enter your number'))
if (num%2==0 and num%3==0):
  print('Divisible by 2 and 3')
else:
  print('Not Divisible by 2 and 3')

enter your number6
Divisible by 2 and 3

In [ ]:
#7)
#if the condation of if is true than the code stop executing and do not run else part

In [ ]:
#11)
num=int(input('enter your number'))
if (not( num>10)):
  print('number is less than 10')
else:
  print('number is  greater than 10')

enter your number22
number is  greater than 10

In [ ]:
#12)
num=int(input('enter your number'))
if (num%2==0):
  print('number is even')
else:
  print('number is odd')

In [ ]:
#13

list=[1,2,3,4,5,6,7]
p = len(list)
if(p==0):
  print('list is empty')
else:
  print('list is not empty')

list is not empty

In [ ]:
#17)

num=int(input('enter your number'))
if (num%3==0 and num%5==0):
  print('Divisible by 3 and 5')
else:
  print('Not Divisible by 3 and 5')

In [ ]:
#18)
x=3
if(x>5):
  print('x is greater than 5')
else:
  print('x is  small')

x is  small