<a href="https://colab.research.google.com/github/0007anuragsharma/Python-logical/blob/main/nested_loop_and_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:

num = 30
factorial = 1
while num > 1:
    factorial *= num
    num=num-1

print( factorial)

265252859812191058636308480000000

In [9]:
num=30
x=1
fact=0
while(x<=30):
  if num%x==0:
    print("factor",x)
    fact+=x
  x+=1
print(fact)

factor 1
factor 2
factor 3
factor 5
factor 6
factor 10
factor 15
factor 30
72

In [ ]:

num = 153

sum_of_powers = (1**3) + (5**3) + (3**3)
if sum_of_powers == num:
    print(num, "is an Armstrong number.")
else:
    print(num, "is not an Armstrong number.")

In [30]:
x=2
for i in range(2,6):
  for j in range(1,11):
    print(i*j,end=" ")
  print()

2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [31]:
x=5
fact=1
for i in range(1,x+1):
  fact=fact*i
  print(fact)

1
2
6
24
120

In [36]:
for x in range(2,10):
  for i in range(1,x+1):
    if(x%i==0):
      print('factor',i)

factor 1
factor 2
factor 1
factor 3
factor 1
factor 2
factor 4
factor 1
factor 5
factor 1
factor 2
factor 3
factor 6
factor 1
factor 7
factor 1
factor 2
factor 4
factor 8
factor 1
factor 3
factor 9

In [37]:
total=0
rem=0
for i in range(100,401):
  rem=i%10

Armstrong numbers from 100 to 400 are: [153, 370, 371]

In [45]:
for i in range(1,5):
  for j in range(1,5):
    if i==1 or i==4 or j==1 or j==4:
      print("*",end='')
    else:
        print(' ',end='')

  print()

****
*  *
*  *
****