<a href="https://colab.research.google.com/github/0007anuragsharma/Python-logical/blob/main/patter_question_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a=10
print(type(a))
print(id(a))

<class 'int'>
132130959163920

In [4]:
num=a
print(id(num))
num=20
print(id(num))

132130959163920
132130959164240

In [9]:
for row in range(1,5):
  for col in range(1,5):
    print(row,end=' ')
  print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [13]:
for row in range(5,0,-1):
  for col in range(1,5):
    print(row,end='')
  print()

5555
4444
3333
2222
1111

In [15]:
for row in range(1,5):
  for col in range(1,row+1):
    print(row,end=' ')
  print()

1
2 2
3 3 3
4 4 4 4

In [17]:
for row in range(10,15):
  for col in range(10,15):
    print(col,end=" ")
  print()

10 11 12 13 14
10 11 12 13 14
10 11 12 13 14
10 11 12 13 14
10 11 12 13 14

In [25]:
for i in range(1,5):
  for j in range(5,i,-1):
    print("*",end=' ')
  print()

* * * *
* * *
* *
*

In [27]:
for i in range(1,5):
  for j in range(i,5):
    print("*",end=' ')
  print()

* * * *
* * *
* *
*

In [33]:
for i in range(5,1,-1):
  for j in range(1,i):
    print(i,end=" ")
  print()

5 5 5 5
4 4 4
3 3
2

In [41]:
for i in range(4,0,-1):
  for j in range(1,i+1):
    print(j,end='')
  print()

1234
123
12
1

In [51]:
for i in range(10,6,-1):
  for j in range(7,i+1):
    print(j,end='')
  print()

78910
789
78
7

In [ ]:
ord('A')
# ord to print ascii value
# chr to print character based value

In [54]:
n=6
for row in range(1,n+1):
  num=65
  for x in range(row,n+1):
    print((num),end=" ")
    num=num+1
  print()

65 66 67 68 69 70
65 66 67 68 69
65 66 67 68
65 66 67
65 66
65

In [56]:
a=4
num=20
for i in range(1,a):
  for j in range(i,a+1):
    num=num+1
    print(num,end=" ")
  print()

21 22 23 24
25 26 27
28 29

In [62]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*",end=" ")
  print()
for a in range(1,4):
    for b in range(4,a,-1):
      print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * *
* *
*