<a href="https://colab.research.google.com/github/0007anuragsharma/Python-logical/blob/main/practical_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#set and frozenset

my_set={1,2,3,4,5}

my_set2=set([1,2,2,2,2,3,4,5])

# {}, set()

print(my_set)
print(my_set2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
#[] # set can be formed using { } or set constructor
   # set is unordered (we cannot access its elements using the index)
   #set does not allow duplicate values
   #set is mutable(we can add, modify or remove elements )


   #set methods

my_set3={4,3,2,5,6,7,8,9}


my_set2.add(6)
print(my_set2)

my_set2.update(my_set3)
print(my_set2)

my_set2.update([11,22,33])
print(my_set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 33, 11, 22}

In [ ]:
#Delete

#remove ----will remove the element passed as argument
            #will throw error if the element is not found

#discard--------will remove the element passed as argument
                #will not throw error if the element is not found


#pop-----------will remove a random/arbitrary elemnt


my_set3.remove(4)
print(my_set3)


#my_set.remove(10)
#this will show error

{2, 3, 5, 6, 7, 8, 9}

In [ ]:
my_set3.discard(11)

my_set3

{2, 3, 5, 6, 7, 8, 9}

In [ ]:
my_set3.pop()

2

In [ ]:
my_set3.pop()

3

In [ ]:
my_set5={'apply','banana','cherry'}
my_set6={'google','microsoft','apple'}

my_set5.add('orange')
print(my_set5)

my_set5.update(my_set6)
print(my_set5)

{'apply', 'cherry', 'banana', 'orange'}
{'google', 'banana', 'orange', 'apply', 'microsoft', 'cherry', 'apple'}

In [ ]:
print(my_set6)

{'google', 'microsoft', 'apple'}

In [ ]:
my_set5.remove('apple')
print(my_set5)

{'google', 'banana', 'orange', 'apply', 'microsoft', 'cherry'}

In [ ]:
my_set5.pop()

'google'

In [ ]:
my_set5.pop()

'banana'

In [ ]:
my_set5.pop()

'orange'

In [ ]:
#Set operations

set1={1,2,3}
set2={3,4,5}

#union
set1 | set2

#interesction
set1 & set2

#difference
set1 - set2

#symmetic difference
set1 ^ set2



set1.union(set2)

set1.intersection(set2)

set1.difference(set2)

set1.symmetric_difference(set2)

{1, 2, 4, 5}

In [ ]:
my_set5={'apple','banana','cherry'}
my_set6={'google','microsoft','apple'}
my_set7={'zoo','animal','apple'}

my_set5 | my_set6 | my_set7
my_set5 & my_set6 & my_set7
my_set7 - my_set5 - my_set6
my_set5 ^ my_set6 ^ my_set7

{'animal', 'apple', 'banana', 'cherry', 'google', 'microsoft', 'zoo'}

In [ ]:
#disc=(set[1,2,3,4,5]:'kk') show error

In [ ]:
disc1={frozenset([1,2,3,4,5,6]):'kk'}