<a href="https://colab.research.google.com/github/0007anuragsharma/Python-logical/blob/main/revesion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
ue=set([1,2,2,3,4,4])
print(ue)

{1, 2, 3, 4}

In [3]:
set_a={1,2,3}
set_b={1,2,3,4,5}
is_subset=set_a.issubset(set_b)
print(is_subset)

True

In [5]:
vowels={'a','e','i','o','u'}
string='hello'
present_vowels = set(vowels).intersection(set(string))
print(present_vowels)

{'e', 'o'}

In [6]:
set_x={1,2,3}
set_y={3,4,5}
symmetric_difference=set_x.symmetric_difference(set_y)
print(symmetric_difference)

{1, 2, 4, 5}

In [7]:
my_string='abcdr'
my_set=set(my_string)
is_present='a' in my_set
print(is_present)

True

In [8]:
my_set={1,2,3}
my_set.discard(4)

In [9]:
set_one={1,2,3,4}
set_two={3,4,5,6}
intersection_set=set_one.intersection(set_two)
print(intersection_set)

{3, 4}

In [10]:
set_a= {1,2,3}
set_b={4,5,6}
are_disjoint=set_a.isdisjoint(set_b)
print(are_disjoint)

True

In [11]:
my_set={1,2,3}
frozen=frozenset(my_set) #frozenset({1,2,3})
#a frozenset is immutable,meaning you cannot add or remove elements from it

False

In [13]:
my_list =[1,2,2,3,4,4]
my_set=set(my_list)
print(my_set)

{1, 2, 3, 4}

In [15]:
set_a={1,2}
set_b={2,3}
set_c={3,4}
Union_set=set_a.union(set_b,set_c)
print(Union_set)

{1, 2, 3, 4}